<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8"/>

		<title>Template Index</title>
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<link rel="stylesheet" href="style/boilerplate-layout.css" />
  </head>

	<body>
	
		<div id="pageWrapper">
		
			<header>
				<h1>CLIENT - PROJECT NAME</h1>
				<img src="http://www.heathwallace.com/static/images/content/roundel-large.png" alt="Heathwallace">
			</header>
		
			<div id="pageBody">
				<div class="row">
					<div class="column columnWidthFull">
						<div class="content">

							<!-- TODO: Add project code and project name -->

							<table>
								<thead>
									<tr>
										<th>Page Name</th>
										<th>Template type</th>
										<th>Status</th>
										<th>Notes</th>
									</tr>
								</thead> 
								<tbody>
									<!-- <tr>
										<td><a href="pages/grid.html">Grid example page</a></td>
										<td>N/A</td>
										<td class="complete">Complete</td>
										<td>Exampe page showing grid layout.</td>
									</tr>
									<tr>
										<td><a href="pages/font-icons.html">Font icons example page</a></td>
										<td>N/A</td>
										<td class="complete">Complete</td>
										<td>Exampe page showing icon fonts.</td>
									</tr> -->
									<tr>
										<td><a href="landing.html">Practice layout</a></td>
										<td>XXX</td>
										<td class="Complete">XX - In Progress</td>
										<td></td>
									</tr>
									<tr>
										<td><a href="pages/template.html">Product page</a></td>
										<td>XXX</td>
										<td class="Complete">XX - In Progress</td>
										<td></td>
									</tr>
									<tr>
										<td><a href="components/fluidGrid.html">Fluid Grid</a></td>
										<td>XXX</td>
										<td class="Complete">XX - In Progress</td>
										<td></td>
									</tr>

									<!-- <tr>
										<td><a href="templates/XXX.html">XXX</a></td>
										<td>XXX</td>
										<td class="Complete">XX - In Progress</td>
										<td>
											<ul>
												<li>Lorem ipsum dolor sit amet.</li>
												<li>Delectus, quam fugiat sed labore.</li>
											</ul>
										</td>
									</tr> -->








									<!-- <tr>
										<td><a href="templates/XXX.html">XXX</a></td>
										<td>XXX</td>
										<td class="notStarted">XX - In Progress</td>
										<td>
											<ol>
												<li>Lorem ipsum dolor sit amet.</li>
												<li>Possimus, atque facilis itaque pariatur.</li>
												<li>Beatae, dolore cumque omnis quos!</li>
											</ol>
										</td>
									</tr> -->
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div><!-- END "pageBody" -->
			
			<footer>
			
			</footer>
			
		</div>
		
		<script src="/script/default.js"></script>
		
	</body>

</html>