<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->

<head>
	<title>Steve Denning - Junior Web Developer</title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<link rel="shortcut icon" type="image/ico" href="../../img/favicon.ico"/>
	<!-- <link rel="stylesheet" href="assets/css/style.css" type="text/css"/> -->
	<link rel="stylesheet" href="../style/default.css" type="text/css"/>

</head>
<body>
		<!--trigger the filter at mobile sizes-->
			<div class="mobile-filter-trigger">Filter <i class="icon-plus"></i></div>
			<div class="filter-clone"></div>
		
			<div class="filter-box clearfix">
				<ul class='sort'>
					<li><a class="active" href="#" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".day1">Day 1</a></li>
					<li><a href="#" data-filter=".day2">Day 2</a></li>
					<li><a href="#" data-filter=".day3">Day 3</a></li>
					<li><a href="#" data-filter=".day4">Day 4</a></li>
					<li><a href="#" data-filter=".day5">Day 5</a></li>
					<li><a href="#" data-filter=".day6">Day 6</a></li>
					<li><a href="#" data-filter=".day7">Day 7</a></li>
				</ul>
			</div>
			<ul class="gallery lightbox four_col clearfix">
				<!-- three_col four_col two_col -->
				<li class="day1"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/1.jpg" alt="" /></a></li>
				<li class="day2"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/2.jpg" alt="" /></a></li>
				<li class="day3"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/3.jpg" alt="" /></a></li>
				<li class="day4"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/4.jpg" alt="" /></a></li>
				<li class="day5"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/5.jpg" alt="" /></a></li>
				<li class="day6"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/6.jpg" alt="" /></a></li>
				<li class="day7"> <a class="hover fancytitle" data-fancybox-group="portfolio" href="../index.html"> <img src="../images/content/7.jpg" alt="" /></a></li>
			</ul>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src='../script/isotope_custom.min.js'></script><!--isotope and initializations-->
	<script src="../script/custom.js"></script>
	<script src="../script/modernizr.js"></script><!-- js multiple backgrounds svg background size -->
</body>
</html>